@font-face {
    font-family: 'Westmeath';
    src: url('../../../public/fonts/Westmeath.otf');
}

@font-face {
    font-family: 'JAVA';
    src: url('../../../public/fonts/JAVATA.ttf');
}

@font-face {
    font-family: 'Reboto';
    src: url('../../../public/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'RebotoBold';
    src: url('../../../public/fonts/Roboto-Bold.ttf');
}


@mixin font(
    $type, 
    $size,
    $color
) {
    @if $type == 'Reboto' {
        font-family: 'Reboto';
    }
    // @else if $type == 'America' {
    //     font-family: 'America';
    // }
    @else{
        font-family: 'RebotoBold';
    }
    font-size: $size;
    color: $color;
}