<div style='text-align: center;'>
  <h1>¡Hola {{name}} gracias por registrarte en FastPizza!</h1>
  <p>Para confirmar tu cuenta por favor introduce este código en nuestro sitio.</p>
  <h2>Este es tu código de verificación</h2>
  <h3>{{code}}</h3>
    </div>
    <br />
    <br />
    <hr />
<div style='text-align: right;'>
  <p>FastPizza 2022</p>
</div>