.user_singup {
  background-color: #1c1c26;
  color: white;
  width: 40%;
  margin: auto;
  h4{
      width: 100%;
      text-align: center;
      font-size: 35px;
      padding-top: 2rem;
  }
  form {
    width: 60%;
    margin: auto;
    input {
      width: 90%;
      height: 2.5rem;
      margin-top: 1rem;
      font-size: 18px;
      border-radius: 7px;
      border-color: transparent;
      border-bottom-color: rgb(252, 202, 84, 0.4);
      background-color: transparent;
      color: white;
    }
    button {
      width: 90%;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      height: 2.5rem;
      border-color: transparent;
      background-color: #fcca54;
      font-size: 17px;
      color: black;
      font-weight: bold;
    }
  }
}

.auth_dashboard {
  width: 20%;
  margin: auto;
  padding: 1rem;
  h2 {
    @include font('Bebas', 4rem, white);
  }
  p {
    @include font('Reboto', 1rem, white);
    text-align: center;
  }
  &-login{
    background-color: #1c1c26;
    width: 20%;
    margin: auto;
    padding: 1rem;
  }
}

