.secondaryButton {
    padding: 14px;
    border-color: transparent;
    background-color: #fcca54;
    font-size: 17px;
    cursor: pointer;
}

.primaryButton {
  padding: 14px;
  border-color: transparent;
  background-color: #e40c24;
  font-size: 17px;
  cursor: pointer;
}

