.dashboardHeader {
  margin: auto;
  margin-top: 5rem;
  height: 7rem;
  width: 95%;
  display: flex;
  main {
    width: 100%;
    padding-left: 1rem;
    text-align: left;
    span {
      font-size: 1.5rem;
    }
    p {
      margin-top: 0;
      font-size: 1rem;
    }
  }
  div {
    @include ContainerDashboard(
      5rem,
      // width
      5rem,
      // height
      #3fbb68,
      // color
      #1c1c26,
      // backgroundcolor
      1rem,
      // padding top
      0,
      // padding bottom
      0,
      // padding right
      0,
      // padding left
      0,
      // margin top
      0,
      // margin bottom
      0,
      // margin right
      0,
      // margin left
      2.5rem,
      // fontsize
      7px,
      //box shadow
      0.8 // opacity bs
    );
    text-align: center;
  }
}

.dashboardLayout {
  @include ContainerDashboard(
    100%,
    // width
    100%,
    // height
    white,
    // color
    $DASHBOARD_BACKGROUND,
    0,
    // padding top
    0,
    // padding bottom
    0,
    // padding right
    0,
    // padding left
    auto,
    // margin top
    auto,
    // margin bottom
    auto,
    // margin right
    auto,
    // margin left
    12px,
    // fontsize
    0px,
    //box shadow
    0 // opacity bs
  );
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  nav {
    width: 18%;
    z-index: 2;
  }
  article {
    width: 100%;
    margin: auto;
  }
}

.dashboardSidebar {
  @include ContainerDashboard(
    100%,
    4.5rem,
    white,
    #1c1c26,
    0,
    0,
    5rem,
    0,
    auto,
    auto,
    auto,
    auto,
    12px,
    40px,
    0.8
  );
  display: flex;
  z-index: 1;
  position: fixed;
  justify-content: right;
  figure {
    width: 2.7%;
    margin: 0;
    padding-top: 5px;
    img {
      margin-right: 0px;
      border-radius: 10rem;
      width: 100%;
      height: 3rem;
      object-fit: cover;
    }
  }
  ul {
    // background-color: #3fbb68;
    margin: 0;
    padding-top: 8px;
    list-style: none;
    li {
      width: 100%;
      // background-color: #5e5e5e;
      font-size: 15px;
      text-align: left;
    }
  }
}

.dashboardNav {
  color: rgb(161, 161, 161);
  background-color: #1c1c26;
  height: 100vh;
  position: fixed;
  width: 15%;
  list-style: none;
  h1 {
    margin: 0;
    padding: 1rem 1rem 1.5rem;
    @include font('Bebas', 1.5rem, rgb(161, 161, 161));
  }
  li {
    padding: 0rem 1rem 0.2rem;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    transition: all 1.5s;
    div {
      cursor: pointer;
      padding-top: 1rem;
      display: flex;
      font-size: 1rem;
      p {
        padding-left: 0.5rem;
      }
    }
    &:hover {
      background-color: #3fbb68;
      color: #ffffff;
    }
  }
  footer {
    p {
      padding: 0rem 1rem 0.2rem;
      @include font('Bebas', 1rem, rgb(161, 161, 161));
    }
  }
}

.dashboardDeliverySections {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  div {
    margin-top: 2rem;
    width: 33%;
    article {
      color: #3fbb68;
      margin-top: 5rem;
      width: 10rem;
      height: 10rem;
      text-align: center;
      font-size: 4rem;
    }
    h2 {
      @include font('RebotoBold', 1rem, #878787);
      padding: 1rem;
      text-align: center;
      font-weight: bold !important;
      text-transform: uppercase;
    }
  }

  section {
    margin-top: 2rem;
    @extend %card-Dashboard;
    width: 33%;
    height: 45rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    article {
      // box-shadow: 0px 0px 10px rgb(100, 100, 100, 0.4);
      border-bottom: 1px solid rgb(152, 152, 152, 0.7);
      width: 100%;
      padding: 1rem;
      header {
        // background-color: #3fbb68;
        display: flex;
        height: 3rem;
        justify-content: center;
        p {
          width: 70%;
          font-size: 18px;
          text-align: right;
        }
        span {
          padding-top: 1rem;
          font-size: 20px;
        }
      }
      div {
        margin-top: 0;
        width: 100%;
        height: 2rem;
        font-size: 15px;
      }
      footer {
        margin: 0;
        width: 100%;
        text-align: right;
        button {
          @extend %button-Dashboard;
          font-size: 14px;
          height: 2.5rem;
        }
      }
    }
    h2 {
      @include font('RebotoBold', 1rem, #878787);
      border-bottom: 1px solid #bebebe;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      font-weight: bold !important;
      text-transform: uppercase;
    }
  }
}

section .dashboardDeliveryTruck {
  background-color: red;
}

#chartButtons {
  display: flex;
  justify-content: space-between;
}

#chartButtonStyle {
  background-color: rgb(128, 128, 128, 0.2);
  border-radius: 6px;
  margin-left: 0.5rem;
  font-size: 12px;
  color: #c0c0c0;
  transition: all 3s;
  &:hover {
    background-color: rgb(128, 128, 128, 0.5);
  }
}

.modalDashboard {
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(1rem);
  position: fixed;
  section {
    width: 25%;
    margin: auto;
    height: 85%;
    margin-top: 3.5%;
    background-color: $DASHBOARD_PRIMARY_COLOR;
    article {
      padding: 1rem;
      color: white;
      div {
        width: 100%;
      }
    }
    header {
      display: flex;
      h1 {
        @include font('RebotoBold', 1rem, #878787);
        border-bottom: 1px solid #bebebe;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        width: 50%;
        font-weight: bold !important;
        text-transform: uppercase;
      }
      h2 {
        @include font('RebotoBold', 1rem, #878787);
        border-bottom: 1px solid #bebebe;
        padding-top: 1rem;
        padding-right: 1rem;
        text-align: right;
        width: 50%;
        cursor: pointer;
        padding-bottom: 1rem;
        font-weight: bold !important;
        text-transform: uppercase;
      }
    }
  }
}

.buttonFInishDelivery {
  width: 100%;
  text-align: center !important;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  height: 2.5rem;
  border-color: transparent;
  background-color: #3f52bb !important;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 1.2s;
  &:hover {
    background-color: #3748a8 !important;
  }
  &:disabled {
    background-color: #273376 !important;
    color: grey;
  }
}

.modalLegendContainer {
  width: 60% !important;
  margin: auto;
  text-align: center
}

.modalLegend {
  h5 {
    @include font('RebotoBold', 1rem, #878787);
  }
  p {
    @include font('RebotoBold', 1rem, #ffffff);
  }
}
