input[type=file]::file-selector-button {
  border: transparent;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: transparent;
  transition: 1s;
  color: white;
  cursor: pointer;
}

.dashboardForm {
  form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      width: 48%;
      height: 1.8rem;
      margin-top: 1rem;
      font-size: 14px;
      border-radius: 7px;
      padding-left: 0.5rem;
      color: #7a7a7a;
      border-color: transparent;
      border: 1px solid rgb(173, 173, 173, 0.5);
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    select {
      width: 48%;
      height: 1.8rem;
      margin-top: 1rem;
      font-size: 14px;
      border-radius: 7px;
      padding-left: 0.5rem;
      color: #7a7a7a;
      border-color: transparent;
      border: 1px solid rgb(173, 173, 173, 0.5);
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      height: 2.5rem;
      border-color: transparent;
      background-color: #3fbb68;
      font-size: 17px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      transition: all 1.2s;
      &:hover {
        background-color: #2d8249;
      }
    }
  }
}

#buttonDeleteDiscount {
  width: 100%;
  margin-bottom: 2rem;
  height: 2.5rem;
  border-color: transparent;
  background-color: #bb3f3f;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 1.2s;
  &:hover {
    background-color: #822d2d;
  }
}

.dashboardFormAuth {
  form {
    width: 100%;
    margin: auto;
    // display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      width: 100%;
      height: 1.8rem;
      margin-top: 1rem;
      font-size: 14px;
      border-radius: 7px;
      padding-left: 0.5rem;
      color: #7a7a7a;
      border-color: transparent;
      border: 1px solid rgb(173, 173, 173, 0.5);
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 100%;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      height: 2.5rem;
      border-color: transparent;
      background-color: #3fbb68;
      font-size: 17px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      transition: all 1.2s;
      &:hover {
        background-color: #2d8249;
      }
    }
  }
}

.dashboardDeliveryForm {
  width: 85% !important;
  text-align: center !important;
  margin: auto;
  input {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 7px;
    padding-left: 0.5rem;
    color: #7a7a7a;
    border-color: transparent;
    border: 1px solid rgb(173, 173, 173, 0.5);
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  select {
    width: 48%;
    height: 1.8rem;
    margin-top: 1rem;
    font-size: 14px;
    border-radius: 7px;
    padding-left: 0.5rem;
    color: #7a7a7a;
    border-color: transparent;
    border: 1px solid rgb(173, 173, 173, 0.5);
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    height: 2.5rem;
    border-color: transparent;
    background-color: #3fbb68;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 1.2s;
    &:hover {
      background-color: #2d8249;
    }
  }
}
