.header__component {
  display: flex;
  @include Container(
    90%,
    50rem,
    0px,
    #14141c,
    auto,
    auto,
    auto,
    auto,
    20px,
    white
  );
  figure {
    @include Container(
      81%,
      50rem,
      0px,
      #14141c,
      auto,
      auto,
      auto,
      auto,
      20px,
      white
    );
    img {
      object-fit: scale-down;
      height: 50rem;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #14141c;
    }
  }
  article {
    @include Container(
      30%,
      50rem,
      1rem,
      #14141c,
      auto,
      auto,
      auto,
      auto,
      20px,
      white
    );
    h1 {
      @include font('Bebas', 4rem, white);
    }
  }
}

.delivery {
  background-color: #e40c24;
  display: flex;
  color: white;
  padding: 10rem;
  section {
    text-align: center;
    width: 100%;
    figure {
      font-size: 3.5rem;
    }
    header {
      @include font('Bebas', 3rem, white);
    }
  }
}

.homeFooter {
  background-color: #000;
  width: 100%;
  padding: 2rem;
  display: flex;
  @include font('Bebas', 1rem, white);
  figure {
    margin: 0;
    margin-right: 2rem;
    width: 6%;
    img {
      width: 100%;
    }
  }
  div {
    width: 70%;
    li {
      list-style: none;
      cursor: pointer;
    }
  }
  section {
    width: 50%;
    text-align: right;
  }
}
