.navigation {
  color: white;
  width: 90%;
  margin: auto;
  height: auto;
  background-color: rgb(20, 20, 28);
  ul {
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    li {
      margin-right: 2rem;
      margin-top: 1rem;
      cursor: pointer;
      button {
        border-color: transparent;
        background-color: #3ecc3e;
        color: white;
        width: 100%;
        font-weight: bold;
        height: 2rem;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    figure {
      margin: 0;
      margin-right: 2rem;
      width: 6%;
      img {
        width: 100%;
      }
    }
    div {
      display: flex;
      width: 65%;
      justify-content: flex-end;
    }
  }
}
