.dashboardTable {
  width: 100%;
  text-align: left;
  height: auto;
  th {
    @include font('RebotoBold', 1rem, #606060);
  }
  td {
    @include font('Reboto', 0.8rem, #ffffff);
    height: 2rem;
    font-weight: bold;
    div {
      display: flex;
      img {
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 10rem;
        object-fit: cover;
        aspect-ratio: 16/9;
      }
    }
  }
  span {
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
    padding-right: 1rem;
    @include font('Reboto', 1rem, rgb(162, 162, 162));
  }
  button {
    margin-top: 1rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
    float: left;
    @include font('Reboto', 1rem, #3fbb68);
    transition: all 1.2s;
    &:hover {
      background-color: #2d8249;
      color: #ffffff;
    }
  }
}

