.header__component {
  display: flex;
  @include Container(
    90%,
    50rem,
    0px,
    transparent,
    auto,
    auto,
    auto,
    auto,
    20px,
    white
  );
  figure {
    @include Container(
    81%,
    50rem,
    0px,
    transparent,
    auto,
    auto,
    auto,
    auto,
    20px,
    white
  );
    img {
      object-fit: scale-down;
      height: 50rem;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: rgb(35, 34, 34);
    }
  }
  article {
    @include Container(
    30%,
    50rem,
    1rem,
    #232222,
    auto,
    auto,
    auto,
    auto,
    20px,
    white
  );
    h1 {
      @include font('Bebas', 4rem, white);
    }
  }
}

.delivery {
  background-color: #e40c24;
  display: flex;
  color: white;
  padding: 10rem;
  section {
    text-align: center;
    width: 100%;
    figure {
      font-size: 3.5rem;
    }
    header {
      @include font('Bebas', 3rem, white);
    }
  }
}
