@import './styles/globals.scss';

@import './styles/mixins/button.scss';
@import './styles/mixins/input.scss';
@import './styles/mixins/viewport.scss';
@import './styles/mixins/container.scss';
@import './styles/mixins/font.scss';

@import './styles/components/homepage.scss';
@import './styles/components/navigation.scss';
